#object_1{
    background-color: gray;
    color: white;
    border-radius: 25px;

}
#object_1 img{
    height: 200px;
}
#object_2{
    background-color: gray;
    color: white;
    border-radius: 25px;

}
#object_2 img{
    height: 200px;
}
#object_3{
    background-color: gray;
    color: white;
    border-radius: 25px;

}
#object_3 img{
    height: 200px;
}
#object_4{
    background-color: gray;
    color: white;
    border-radius: 25px;

}
#object_4 img{
    height: 200px;
}
#object_5{
    background-color: gray;
    color: white;
    border-radius: 25px;

}
#object_5 img{
    height: 200px;
}